$topnavbar: linear-gradient(90deg, rgba(0, 196, 204, 0.6741071429) 0%, rgba(136, 184, 0, 0.8953956583) 46%, #05b405 100%);
$topbarnav: #fff;
$iconscolor: #030940;
$iconshover: #4b7eb3;
$iconphone:  #005e0b;
$navscroll: #fafafa90;
$sidetext: #011d42;
$dividor: #ebebeb;
$secondnav: #fafafa;
$bloglinks: #8b1728;
$green: #05b405;
$lineblue: #38b6ff;
$footertext: #cccccc;
$highlight: #ffd000;
$go-back: #00c2cb;
$button: #79afe8;
